.header {
    padding: 25px 0;
    min-height: 800px;
    height: 100vh;
    color: #fff;
    font-weight: 400;
    background: url('../img/header/bg.png') no-repeat center top/cover;
}
.nav {
    display: flex;
    justify-content: space-between;
}
.logo {
}
.burger-btn {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2px;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 4;
}
.burger-btn__line {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #000;
    transition: all .5s ease;
}
.burger-btn:hover .burger-btn__line {
    transform: scale(1.1);
}
.burger-btn--active:hover .burger-btn__line {
    background-color: #FFD723;
}
.burger-btn--active .burger-btn__line:nth-child(1) {
    margin-top: 3px;
    transform: rotate(45deg);
}
.burger-btn--active .burger-btn__line:nth-child(2) {
    margin-top: -4px;
    transform: rotate(-45deg);
}
.burger-btn--active .burger-btn__line:nth-child(3) {
    opacity: 0;
}
.header-menu__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 20vh;
    width: 100%;
    height: 100vh;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.753);
    backdrop-filter: blur(5px);
    z-index: 3;
    visibility: hidden;
    transition: all .5s ease;
}
.header-menu__wrapper--active {
    visibility: visible;
    opacity: 1;
}
.menu__header {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    text-transform: capitalize;
}
.menu__header-item {
}
.menu__header-link {
    font-size: 32px;
    transition: all .5s ease;
}
.menu__header-link:hover {
    color: #FFD723;
}
.header__content {
    padding-top: 120px;
    max-width: 610px;
}
.header__label {
    padding-bottom: 22px;
    font-size: 14px;
}
.header__title {
    padding-bottom: 24px;
    font-size: 60px;
    font-weight: 700;
    line-height: 74px;
}
.header__desc {
    padding-bottom: 45px;
    font-size: 16px;
}
.button {
    position: relative;
    display: inline-flex;
    padding-left: 9px;
    max-width: fit-content;
    font-size: 16px;
    color: #D4D6D4;
    border-bottom: 2px solid #D4D6D4;
    transition: all .5s ease;
}
.button__arrow {
}
.button__arrow svg {
    position: absolute;
    left: -10px;
    bottom: 7px;
    display: block;
    max-width: 12px;
    max-height: 12px;
    fill: #D4D6D4;
    transition: all .5s ease;
}
.header__button {
    color: #FFD723;
    border-bottom: 2px solid #FFD723;
}
.header__button svg {
    fill: #FFD723;
}
.header__button:hover {
    color: #D4D6D4;
    border-bottom: 2px solid #D4D6D4;
}
.header__button:hover svg {
    fill: #D4D6D4;
}